/* font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eafffb;
  font-family: 'Quicksand', sans-serif;
}

#mobile-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile {
  max-width: 175px;
  padding: 2em 0 2em 0;
}

h1 {
  font-size: 1.5em;
  color: #333456;
  text-align: center;
}

p {
  padding: 0.5em;
  font-size: 1em;
  color: #656f77;
  line-height: 1.2em;
  text-align: center;
}

.icon {
  max-width: 25px;
  padding-top: 0.5em;
}

ul {
  padding: 1em;
  text-align: center;
}

li {
  padding: 0.5em;
  padding-top: 1em;
  list-style: none;
}

a {
  font-weight: 500;
  color: #333456;
  text-decoration: none;
  border-bottom: 1px solid #f4abc4;
}

a:active {
  color: #f4abc4;
  border-bottom: 1px solid #333456;
}
